.o_doc_link{
	display:none !important;
}
a[href="https://www.odoo.com/documentation/16.0"], a[href='https://www.odoo.com/buy'], span[data-menu="account"]{
	display:none !important;
}
span.o_enterprise_label{
	display:none !important;
}
div.o_widget_iap_buy_more_credits{
	display:none !important;
}